{% extends "base.html" %}

{% block content %}

<!-- home -->
<section id="home" class="main">
  <header class="major" >
    <h2>Home</h2>
    <!-- <p>Donec imperdiet consequat consequat. Suspendisse feugiat congue
    posuere. Nulla massa urna, fermentum eget quam aliquet.</p> -->
  </header>
  <!-- <div class="spotlight"> -->
    <!-- <span class="image right"> -->
      <!-- <img src="/static/images/avatar.jpg" alt="" style="width:40%;/> -->
    <!-- </span> -->
  <!-- </div> -->
  <p class="content">
    <div class="content" align="justify">
      {{ home.body|markdown }}
    </div>
  </p>
</section>

<!-- production -->
<section id="production" class="main">
  <header class="major" >
    <h2>Production</h2>
  </header>
  <p class="content">
    <div class="content" align="justify">
      {{ production.body|markdown }}
    </div>
  </p>
</section>

<!-- courses -->
<section id="courses" class="main">
  <header class="major">
    <h2>Courses</h2>
  </header>
  <p class="content"> Here you will find some course material from the courses
    I give at UFPB. All material is in portuguese, but eventualy may be
    something in english. Fell free to ask anything or send correction.</p>
  <p class="content">
    {% for year in years %}
    <h3>{{ year.year }} - Semestre : {{ year.period }}</h3>
    {% for class in classes %}
    {% if class.year == year.year %}
    {% if class.period == year.period %}
    <ul>
      <li><a href= "{{ url_for('course_year', tpath=class.href, ano=class.year, sem=class.period) }}">
        {{ class.class }}
      </a></li>
    </ul>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
  </p>
</section>
{% endblock %}
